<div class="profile h-100">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <div class="d-inline-flex flex-column mb-4 user">
        <div><img class="rounded-circle mb-2" src="https://via.placeholder.com/100?text=user+img"></div>
        <%= current_user.name %>
      </div>
      <hr>
      <li class="nav-item">
        <i class="fa fa-money" aria-hidden="true"></i><%= link_to "All my investments", '/investments', class: "navbar-brand" %>
      </li>
      <li class="nav-item">
        <i class="fa fa-vcard-o" aria-hidden="true"></i><%= link_to "All my external investments", '/investments/external', class: "navbar-brand" %>
      </li>
      <li class="nav-item">
        <i class="fa fa-object-group" aria-hidden="true"></i><%= link_to "All groups", '/groups', class: "navbar-brand" %>
      </li>
      <hr>
      <li class="nav-item">
        <i class="fa fa-sign-out" aria-hidden="true"></i><%= link_to "Logout", '/logout', class: "navbar-brand" %>
      </li>
    </ul>
  </div>
</div>
