<h1>Create group</h1>
<%= form_for @group do |f|%>
  <div class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Icon (Optional)' %>
    <%= f.url_field :icon, class: "form-control" %>
    <small id="emailHelp" class="form-text text-muted">Insert URL of valid image (PNG/JPG/JPEG)</small>
  </div>
  <%= f.submit 'Create' ,class: "btn btn-primary" %>
<%end%>
