<%= form_for @user do |f|%>
  <nav class="navbar navbar-primary py-3">
    <div class="icon">
      <%=link_to root_url do %>
        <i class="fa fa-arrow-left"></i>
      <%end%>
    </div>
    <div class="title">Register</div>
    <div class="submit">
      <%= f.button :submit do %>
        <i class="fa fa-arrow-right"></i>
      <% end %>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="form-group">
      <%= f.label :name%>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%=render "shared/errors" ,object:@user%>
  </div>
<%end%>
